<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <title>Add <%=type%></title>
    <script>
        function validateForm(){
        var frm=document.forms["f1"];
        var type=frm["type"].value;
        if(type!="<%=type%>")
        {
            console.log(type);
            alert('Role cannot be modified!!!');
            return false;
        }
        {
            return true;
        }
    }
    </script>



</head>
<body style="background-color: burlywood;" >
    <div class="container">
    <h1 style="font-family: lato; text-transform: capitalize;font-size: 60px;">Add : <%=type%></h1>
    <div style="background-color: burlywood; margin-top: 60px; border: solid; border-color: brown;">
    <form name="f1" method="POST" action="/add/<%=type%>" style="background-color: brown; color: yellow;font-weight: bold;" onsubmit="return validateForm()">
    <label>Role:</label><input class="form-control" style="color: white; background-color: brown; text-transform: uppercase;" type="text" name="type" value="<%=type%>" readonly>
    <label>Id:</label><input class="form-control" type="text" name="id" style="color: white; background-color: brown;">
    <label>Name:</label><input class="form-control" type="text" name="name" style="color: white; background-color: brown;">
    <label>Age:</label><input class="form-control" type="text" name="age" style="color: white; background-color: brown;">
    <label>Date of Joining:</label><input class="form-control" type="date" name="doj" style="color: white; background-color: brown;">
    <label>City:</label><select class="form-control" type="text" name="city" style="color: white; background-color: brown;">
    <%for(var i=0;i<cities.length;i++){%>
        <option value="<%=cities[i].city%>"><%=cities[i].city%></option>
    <%}%>
    </select>
    <button class="btn btn-primary" type="submit">Add</button> 
    </form>
    </div>
    </div>
</body>
</html>