<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    

    <title>Billing</title>
    <script>
        var label={};
        function pay_type(mode){
            if(mode=='UPI')
            {
                if(label['upi']==1)
                return;
                label['upi']=1;
                var d=document.getElementById("upi_div")
                var x=document.createElement("form");
                x.setAttribute("method","POST");
                x.setAttribute("action",'/pay/upi');
                x.setAttribute("name","upi");
                y=document.createElement("input");
                y.setAttribute("type","text");
                y.setAttribute("placeholder","UPI-ID");
                x.appendChild(y);
                d.appendChild(x);
                y=document.createElement("input")
                y.setAttribute("type","submit");
                y.setAttribute("value","Pay");
                x.appendChild(y);
            }
            else if(mode=='paytm')
            {
                if(label['paytm']==1)
                return;
                label['paytm']=1;
                var d=document.getElementById("paytm_div");
                var x=document.createElement("form");
                x.setAttribute("method","POST");
                x.setAttribute("action",'/pay/paytm');
                x.setAttribute("name","paytm");
                y=document.createElement("input");
                y.setAttribute("type","text");
                y.setAttribute("placeholder","Name");
                x.appendChild(y);
                y=document.createElement("input");
                y.setAttribute("type","text");
                y.setAttribute("placeholder","Mobile No.");
                x.appendChild(y);
                d.appendChild(x);
                y=document.createElement("input")
                y.setAttribute("type","submit");
                y.setAttribute("value","Pay");
                x.appendChild(y);
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="/images/bus_front.jpg" width="30" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/<%=unm%>/<%=usermobile%>/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookings/<%= usermobile%>">My Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/book/<%= usermobile%>">Find Bus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
              </li>
          </ul>
        </div>
      </nav>
      <br><br>
    <h1 style="color: red;">DO NOT REFRESH THIS PAGE</h1>
    <h3>Date - <%=date%></h3>
    <br><br>
    <h4>Bus-  <%=bus%></h4><h4>Category- <%=type%></h4>
    <br><br>
    <h4>Seat Details:</h4>
    <ul>
        <%for(let i=0;i<seats.length;i++){%>
            <li><%=seats[i]%></li>
        <%}%>
    </ul>
    <br>
    <b>Amount- <%=price%></b>
    <br>
    <h3>Payment type:</h3>
    <div id="paytm_div">
    <button onclick="pay_type('paytm')">Paytm</button>
    </div>
    <div id="upi_div">
    <button onclick="pay_type('UPI')">UPI</button>
    </div>
</body>
</html>