<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bower_components/css-star-rating/dist/css/star-rating.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .checked {
      color: orange;
    }
    </style>
</head>
<body style="background-color: rgb(247, 111, 111);font-family: lato;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="http://192.168.43.80:3000/images/bus_front.jpg" width="30" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <%if(usermobile){%>
            <li class="nav-item active">
              <a class="nav-link" href="http://192.168.43.80:3000/home/<%=unm%>/<%=usermobile%>/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://192.168.43.80:3000/bookings/<%= usermobile%>">My Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://192.168.43.80:3000/book/<%= usermobile%>">Find Bus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://192.168.43.80:3000/logout/">Logout</a>
              </li>
              <%}else{%>
                <li class="nav-item active">
                <a class="nav-link" href="http://192.168.43.80:3000/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://192.168.43.80:3000/book/<%= usermobile%>">Find Bus</a>
              </li>
              <%}%>
          </ul>
        </div>
      </nav>
      <br><br>


    <div class="container">
    <table class="table table-hover table-striped" style="overflow: auto;">
            <thead  class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Dest</th>
                <th>Date of Review</th>
                <th>Rating</th>
                <th>Review</th>
            </tr>
            </thead>
            <%for(let i=0;i<result.length;i++){%>
                <tr class="table-info">
                    <td><%=bus_details[result[i].bus_id].name%></td>
                    <td><%=bus_details[result[i].bus_id].origin%></td>
                    <td><%=bus_details[result[i].bus_id].dest%></td>
                    <td><%=new Date(result[i].date).toDateString()%></td>
                    <td>
                    <%for(let j=0;j<result[i].stars;j++){%>
                        <span class="fa fa-star checked"></span>
                        <%}for(let j=result[i].stars;j<5;j++){%>
                          <span class="fa fa-star"></span>
                        <%}%>
                    <bold>(<%=result[i].stars%>/5)</bold>
                    </td>
                    <td><%=result[i].review%></td>
                </tr>
            <%}%>
        </table>
    </div>
</body>
</html>