<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Chart</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        var label={};
        var cst=0;
        var cnt=0;
        function func1(id,cost){
            if(label[id]==1)
            {
            var tg1=document.getElementById('seat_no'+id);
            tg1.remove();
            cnt--;
            var tg2=document.getElementById('seat_'+id);
            tg2.style.backgroundColor='green';label[id]=0;
            var tg3=document.getElementById('cost');
            // console.log(tg3.value);
            // var new_cost=(tg3.value-cost);
            // tg3.value=new_cost;
            cst-=cost;
            tg3.innerHTML='<h4>Cost='+cst+'</h4>';
            var tg4=document.getElementById('seat_selected_'+id);
            tg4.remove();
            }
            else{
                if(cnt==4){
                setTimeout(() => {
                    alert('Cannot Book more than 4 seats in once');
                }, 1000);
                return;
                }
            var tg=document.getElementById("seats");
            if(cnt==0)
            tg.innerHTML+='<span id="seat_no'+id+'">'+id+'&nbsp;&nbsp;</span>';
            else 
            tg.innerHTML+='<span id="seat_no'+id+'">'+id+'&nbsp;&nbsp;</span>';
            var tg2=document.getElementById('seat_'+id);
            tg2.style.backgroundColor='blue';label[id]=1;
            var tg3=document.getElementById('cost');
            cst+=cost;
            cnt++;
            tg3.innerHTML='<h4>Cost='+cst+'</h4>';
            var tg4=document.f1;
            tg4.innerHTML+='<input type="hidden" value="'+id+'" name="seat'+id+'" id="seat_selected_'+id+'">';
            }
            // console.log(cnt);
        }

        var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 60000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);

     </script>
<style>
.box {
  display:inline-block;
  height: 20px;
  width: 50px;
  border: 1px solid black;
  clear: both;
}

.gallery {
  display:inline-block;
  height: 20px;
  width: 75px;
  border: 1px;
  clear: both;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}
</style>
</head>
<body>
<%var t1=layout.length;t2=layout[0].length;
for(var i=0;i<t1;i++){%><p><%for(var j=0;j<t2;j++){%>
<%if(layout[i][j]=='b'){%><span class='box red'><%=seat_id[i+'_'+j]%></span>
<%}else if(layout[i][j]=='_'){%><span class='gallery'>&nbsp;</span>
<%}else{%><span id="seat_<%=seat_id[i+'_'+j]%>" class='box green' onclick="func1(<%=seat_id[i+'_'+j]%>,<%=busdata[0].price%>)"><%=seat_id[i+'_'+j]%></span>
<%}}%></p><%}%>
<div id="seats">
    <span><b>Seats= </b></span>
</div>
<div id="cost">
    <h4>Cost=0</h4>
</div>
<form name="f1" method="POST" action="/book/final_page/<%=mobile%>/<%=busdata[0].id%>/" onsubmit="return validateForm()">
<input type="submit" value="Proceed to Checkout">
</form>
</body>
</html>